<div class="w-screen h-screen justify-center items-center flex overflow-y-auto">
  <app-card>
    <div class="flex justify-center max-h-[80%] overflow-x-hidden items-center flex-col gap-y-4 px-6 py-8">
      <h1 class='text-2xl mb-4 font-semibold text-black'>Challenge Konfigurator</h1>
      <form [formGroup]='form' (submit)='submit()' class='z-10 flex-col flex gap-y-4 w-96 overflow-y-auto py-1 px-2'>
        <app-date-input [formControlElement]='form.controls.startDate' label='Startdatum' class='mt-1'>
        </app-date-input>
        <app-checkbox [formControlElement]='form.controls.customRules' label='Abweichende Angaben'></app-checkbox>
        @if (form.controls.customRules.value) {
        <div>
          <app-input [formControlElement]='form.controls.totalDays' label='Tage insgesamt' placeholder='Wie lange?'
            type='number'>
          </app-input>
          <div class='text-sm ml-2 font-extralight'>
            Einschließlich bis {{ untilDate() | date: 'dd.MM.YYYY' }}
          </div>
        </div>
        @for (rule of form.controls.rules.controls; track rule; let i = $index) {
        <div class='flex flex-row gap-x-2 w-full'>
          <app-input [formControlElement]='rule' label='Regel {{ i + 1}}' placeholder='Was ist die Regel?' type='text'
            class='w-full'>
          </app-input>
          @if (form.controls.rules.controls.length !== 1) {
          <button type='button' class='py-1 px-2 w-10 h-10 rounded bg-tertiary/70 self-end' (click)='removeRule(i)'>
            <mat-icon></mat-icon>
          </button>
          }
        </div>
        }
        <div (click)="addRule()" class='-mt-2 w-3/4 cursor-pointer'>
          + Regel hinzufügen
        </div>
        <hr class='w-full h-[1.5px] border-none bg-white' />
        }
        @for (participant of form.controls.participants.controls; track participant; let i = $index) {
        <div class='flex flex-row gap-x-2 w-full'>
          <app-input [formControlElement]='participant' label='Teilnehmer {{ i + 1}}' placeholder='Wer macht mit?'
            type='text' class='w-full'>
          </app-input>
          @if (form.controls.participants.controls.length !== 1) {
          <button type='button' class='py-1 px-2 w-10 h-10 rounded bg-tertiary/70 self-end'
            (click)='removeParticipant(i)'>-
          </button>
          }
        </div>

        }
        <div (click)="addParticipant()" class='-mt-2 mb-2 w-3/4 cursor-pointer'>
          + Teilnehmer hinzufügen
        </div>
      </form>
      <button appButton variant='primary' type='submit' (click)='submit()'>Weiter
      </button>
      <button appButton variant='secondary' type='button' (click)='createTeam()'>
        Team erstellen
      </button>
    </div>
  </app-card>
</div>
